@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root{
    --primary-color: #222831;
    --secondary-color: #00ADB5;
    --text: #393E46;
    --off-white: #F3F4F6;
    --svg-secondary-filter: invert(51%) sepia(67%) saturate(2685%) hue-rotate(147deg) brightness(93%) contrast(101%);

}

body{
    margin:0;
    text-align: center;

    font-family: 'Roboto Mono', monospace;
}

label,input,button{
    display: block;
    margin: 1rem auto;
    font-size: larger;
    border-color: var(--secondary-color);
    border-radius: 0.5rem;
    border-width: 3px;
}

.container {
    max-width: 90vw;
    margin: auto;
}

.main-container {
    margin-top: 4rem;
    background-color: var(--off-white);
    padding: 1rem 0;
    border-radius: 1rem;
}

.header {
    background-color: var(--primary-color);
    margin-top: 0;
    padding: 0.5rem;

    border-radius: 0 0 1rem 1rem;
}

.header h1 {
    font-weight: bolder;
    margin: 0;
    color: var(--secondary-color);
    font-weight: bold;
}

button{
    background-color: var(--secondary-color);
    color: black;
    border-color: var(--primary-color);
    border-width: 1px;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
}
button:disabled{
    background-color: white;
}

#message {
    display: none;
    width: 60vw;
    margin:auto;
    border: solid 2px var(--secondary-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;

}
/* ------------------------------------------------------------------------------------------------------------------- */


footer {
    margin: 3rem auto 0;
    max-width: 90vw;
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 1rem 1rem 0 0;
    color: black;
}

.footer h3 {
    margin-top: 0rem;
}

.container-footer-links {
    padding: 0.5rem;
}

.container-footer-links a {
    padding: 1rem 1rem;
}

.icons {
    max-width: 40px;
}
.svg{
    filter: var(--svg-secondary-filter);
}
